node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
dist/
build/
coverage/
*.tsbuildinfo
.idea/
.vscode/
*.swp
*.swo
postgres-init/postgres/data
